html,body{
    height: 100%;
    overflow-x: hidden;
    background-color: #1A1A2E;
}




#logo img{
    max-width: 12%;
    height: auto;
}

label{
    font-weight: bold;
}

#home{
    border-radius: 7px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    background-color: #16213E;
    color: orange;
    margin: 3%;
}


#home div p, #home div h2{
    display: block;
    text-align: center;
    padding: 1%;

}

.movie:hover{
    transform: scale(1.05);
}

.movie{
    border-radius: 7px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    background-color: #16213E;
    color: orange;

}

.movie-link{
    text-decoration: none;
    color: black;
}

.movie-link:hover{
    text-decoration: none;
    color:  black;
}

.movie h5{
    text-align: center;
}

.movie img{
    height: 100%; 
    width: 100%;
    border: 2px solid orange;
}

.search-bar{
    height: 100%;
}

.submit-button{
    background-color: orange;
    color: #16213E;
    font-weight: bold;
    border: 0;
}

.submit-button:hover{
    background-color: rgb(255, 102, 0);
    color: #000000;
}




#list{
    text-align: center;
    color: orange;
}

#nolist{
    text-align: center;
    color: orange;
}




/* Bootstrap tiling */



#header{
    background-color: #0F3460;
}

#navbar{
    background-color: #0F3460;
    
}

