h1 a{
    margin: 0 auto;
    color: black;
    text-decoration: none;
    
}

.movie{
    border-style: solid;
}

.movie h5{
    text-align: center;
}

.movie img{
    height: 80%;
    width: 80%;
    border: 2px solid black;
    margin: 5%;
}

#plot{
    margin: 3%;
}





/* Bootstrap tiling */

/* .container-fluid{
  ???
} */

#header{
    height: 10%;
}

#navbar{
    height: 30%;
}

#movies{
    height: 60%;
}