<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>QuePeli</title>
</head>

<body>
    <div class="container-fluid">



        <div class="row" id="header">
            <h1><a href="/">¿QuePeli?</a></h1>
        </div>


        <div class="row" id="navbar">
            <form method="POST" name="list">
                <label for="url">URL: </label>
                <input name="url" type="text">
                <input type="submit" name="list">
            </form>

            <form method="POST" name="nolist">
                <select name="genre" id="genre">
                    <option value="1" selected>Any genre</option>
                    <option value="2">Action</option>
                    <option value="3">Animation</option>
                    <option value="4">Comedy</option>
                    <option value="5">Drama</option>
                    <option value="6">Fantasy</option>
                    <option value="7">Horror</option>
                    <option value="8">Romance</option>
                    <option value="9">Sci-Fi</option>
                    <option value="10">Thriller</option>

                </select>
                <label for="nolist">nolist</label>
                <input type="submit" name="nolist">
            </form>
            {{error}}

        </div>




        <div class="row" id="movies">
            {% for peli in pelis %}
            <div class="col-md-4">
                <div class="movie">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>{{ peli[0] }}</h5>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{peli[2]}}" alt="{{peli[0]}} - poster">
                        </div>
                        <div class="col-md-7">
                            <h6>Year: {{peli[1]}}</h6>
                            <h6>Genres: {% for genre in peli[4] %}{{genre}} {% endfor %}</h6>
                            <h6>Director: {{peli[5]}}</h6>
                            <h6>Cast: {% for star in peli[6] %}{{star}} {%endfor%}</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p id="plot">{{peli[3]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>



    </div>







    <!-- Boostrap -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



</body>

</html>