<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>QuePeli</title>
</head>

<body>
    <div class="container-fluid">



        <div class="row" id="header">
            <div class="col-sm-12 text-center p-2">
                <a href="/" id="logo">
                    <img src="static/images/logo.png" alt="logo">
                </a>
            </div>
        </div>


        <div class="row" id="navbar">
            <div class="col-sm-12 col-md-6 p-3">
                <form method="POST" name="nolist" id="nolist">
                    <label for="genre">Randomize by genre: </label>
                    <select name="genre" id="genre" class="search-bar">
                        <option value="1" selected>Any</option>
                        <option value="2">Action</option>
                        <option value="3">Animation</option>
                        <option value="4">Comedy</option>
                        <option value="5">Drama</option>
                        <option value="6">Fantasy</option>
                        <option value="7">Horror</option>
                        <option value="11">Musical</option>
                        <option value="8">Romance</option>
                        <option value="9">Sci-Fi</option>
                        <option value="10">Thriller</option>
                    </select>
                    <input type="submit" name="nolist" class="search-bar submit-button" value="Search">
                </form>
            </div>
            <div class="col-sm-12 col-md-6 p-3">
                <form method="POST" name="list" id="list">
                    <label for="url">Paste URL: </label>
                    <input name="url" type="text" class="search-bar">
                    <input type="submit" name="list" class="search-bar submit-button" value="Search">
                </form>
            </div>
            {{error}}
        </div>




        <div class="row" id="home">
            <div class="col-sm-12 col-md-12 p-3">
                <h2>¿QuePeli?</h2>
                <p>
                    QuePeli helps you choosing a random movie when you can't decide what to watch.
                    <br>
                    To use QuePeli you can either paste an IMDb list URL, or select a genre and let QuePeli select a
                    random movie for you.
                </p>
            </div>
        </div>



    </div>







    <!-- Boostrap -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



</body>

</html>